.grid_container{
  grid-auto-flow: row;
  position: absolute;
  z-index: -1;
  top: 85px;
  display:grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 10px 10px;
}
.grid_container p {
  background-color: #60b2ff;
  margin: 0;
}
.hero{
  grid-column: 1 / span 12 !important;
}
//.grid_container .header{
//  grid-column: 1 / span 12;
//}



.flex_container a:after{
  opacity: 0;
  display: inline-block;
  content: '';
  background-color: #e3007d;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  position:relative;
  bottom: 10px;
}
.flex_container a:hover::after {
 opacity: 1;
  transition-duration: 0.5s;
}

.flex_container a:hover {
  color: #e3007d;
  transition-duration: 0.5s;
}
.title{
  position: absolute;
  margin: auto 0;
  height: 55px;
  h1 {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: inherit;
    font-size: 28px;
    line-height: 55px;
  }
}

.grid_container div {
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 8;
  background-color: #831ec9;
  margin: 0 10px 10px 10px;
}
h2{
  background-color: #d900e6;
  opacity: 0.3;
}

body{
  margin: 0;
  padding: 0;
}